.RightBar{
    padding: 5px;
    text-align: right;
    width: 100px;
    position: "right";
    border-radius: 50px/50px;
    border: 2px solid #000000;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    background-color: #f5faff;
}